<h1>Hello, Welocme to Little Esty Shop</h1>
<h2>You may be wondering what's going on here?</h2>
<h3>Well, let's give a couple links a test here. You are fully allowed to try and change the numbers given to you in the link to see different results!</h3>
<%= link_to "View a Merchant", "/merchants/1/dashboard" %>
<br>
<br>
<%= link_to "View a Merchants Items", "/merchants/1/items" %><p>(Try enabling and disabling a few items)</p>
<br>
<%= link_to "View a Merchants Discounts", "/merchants/1/bulk_discounts" %><p>(Show's upcoming holidays that updates daily))</p>
<br>
<%= link_to "View all Admins", "/admin" %>
<br>
<br>
<%= link_to "View an Admins Invoice", "/admin/invoices/658" %><p>(Try updating the invoice status)</p>

<h2>Feel free to play around with the links and try different things out!</h2>
<h2>Thank You for visiting Little Esty Shop</h2>
<h2>Have a Great Day</h2>